@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --main-color: #;
  --text-color: #;
  --bg-color-01: #;
  --bg-color-02: #;
  --border-color: #;

  /*extra colors*/

  --color-01: #;
  --color-01: #;
  --color-01: #;
  --color-01: #;
  --color-01: #;

  /*
  
  Exemplo de inserção de Cor

  background-color: var(--bg-color-01);
  color: var(--text-color);

  */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 9%;
  z-index: 1000;
  background: transparent;
}
.logo {
  font-size: 30px;
  font-weight: 700;
  color: white;
}
.navlist {
  display: flex;
}
.navlist a {
  color: white;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 0.55s ease;
}
.navlist a:hover {
  border-bottom: 2px solid #ffffff;
}
#menu-icon {
  color: white;
  font-size: 30px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
body .north {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  background: linear-gradient(
    245.59deg,
    #8f5cbe 0%,
    #9c4fe4 28.53%,
    #6807c2 75.52%
  );
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
section {
  padding: 0 15%;
}
.north-text .image {
  font-size: 90px;
  line-height: 1;
  color: white;
  margin: 0 0 20px;
}
.north-text p {
  font-size: 15px;
  color: white;
  margin-bottom: 40px;
  line-height: 1.9;
}

.north .image{
  position: relative;
  width: 50%;
  height: 50%;
}
.north-image .image1 {
  position: relative;
  height: 800px;
  width: auto;
  transform: translateX(20%);
  margin-bottom: -152px;
}

.north-text a {
  display: inline-block;
  padding: 12px 30px;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 500;
  background: white;
  color: #6807c2;
  font-size: 15px;
  font-weight: 600;
  border-radius: 30px;
  transition: all 0.55s ease;
  text-transform: uppercase;
  border: 1px solid transparent;
}
.north-text a:hover {
  background: transparent;
  border: 1px solid white;
  color: white;
  transform: translateX(8px);
}
.north-text a .ctaa {
  background: transparent;
  border: 1px solid white;
  margin-left: 20px;
}
.north-text a .ctaa i {
  vertical-align: middle;
  margin-right: 5px;
}

.icons {
  position: absolute;
  top: 50%;
  padding: 0 9%;
  transform: translateY(-50%);
}
.icons i {
  display: block;
  margin: 26px 0;
  font-size: 24px;
  color: white;
  transition: all 0.5s ease;
}
.icons i:hover {
  color: #f3c4c4;
  transform: translateY(-5px);
}
.scroll-down {
  position: absolute;
  bottom: 6%;
  right: 9%;
}
.scroll-down i {
  display: block;
  padding: 12px;
  font-size: 25px;
  color: #ffffff;
  background: #c96aee;
  border-radius: 30px;
  transition: all 0.5s ease;
}
.scroll-down i:hover {
  transform: translateY(-5px);
}

/* Cards CSS */

.team {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}
.slide-container {
  width: 100%;
  padding: 40px 0;
}
.slide-content {
  margin: 0 40px;
  border-radius: 25px;
  overflow: hidden;
}
.card {
  border-radius: 25px;
  background-color: white;
}
.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5p;
  padding: 25px 0;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #6807c2;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #6807c2;
}
.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: white;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #6807c2;
}
.name {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  padding: 10px;
}
.description {
  font-size: 14px;
  color: rgb(223, 149, 149);
  text-align: center;
}
.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #8f5cbe;
  margin: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: #6807c2;
}

.swiper-navBtn {
  color: #6807c2;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #8f5cbe;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 40px;
  transition: color 0.3s ease;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-pagination-bullet {
  color: #6807c2;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  color: #8f5cbe;
}

/*services/portifolio/contacts/footer
 
html{
  font-family: 'Poppins', sans-serif;
  font-size: 16px
}

.portifolio,
.contact,
.footer {
  min-height: 100vh;
  padding: 6rem 6rem 2rem;
}

header .portifolio,
header .contact,
header .footer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

section .portifolio,
section .contact,
section .footer {
  min-height: 100vh;
  padding: 6rem 6rem 2rem;
  border: solid 1px black;
}

.portifolio h2,
.contacts h2{
  font-size: 35px;
  margin-bottom: 16px;
  text-align: center;
}
.portifolio{
  background-color: #824cb4;
}
.portifolio-container{
  display: grid ;
  gap: 110px;
}
.portifolio-box{
  position: relative;
  border-radius: 0.6rem;
  box-shadow: 0 0 0.6rem #c96aee;
  overflow: hidden;
  display: flex;
}
.portifolio-box img{
  width: 30%;
  transition: 0.5s ease; 
}
.portifolio-box img:hover{
  transform: scale(1.1);
}
.portifolio-box .portifolio-layer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: linear-gradient(transparent, #6807c2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(30rem);
  transition: 0.5s ease;
}
.portifolio-box:hover .portifolio-layer{
  transform: translateY(0);
}
.portifolio-layer h4{
  font-size: 1.8rem;
}
.portifolio-layer p{
  margin: 0.2rem 0 0.5rem;
}
.portifolio a i{
  font-size: 1.2rem;
  color: red;
}

.portifolio-layer a{
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: white;
  border-radius: 50%;
}
  */

  /* Reset some default styles */
body, h2, h4, p {
  margin: 0;
  padding: 0;
}

/* Estilo da seção */
.portifolio {
  min-height: 100vh;
  padding: 50px;
  background-color: #f4f4f4;
  text-align: center;
}

.portifolio h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  margin-top: 40px;
}

.portifolio h2 span {
  color: #6807c2;
}

/* Container do portfólio */
.portifolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Estilo das caixas do portfólio */
.portifolio-box {
  position: relative;
  width: 500px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.portifolio-box:hover {
  transform: scale(1.05);
}

/* Estilo das imagens */
.portifolio-box img {
  width: 100%;
  height: auto;
  display: block;
}

.portifolio-box .portifolio2 {
  margin-bottom: -60%;
  margin-top: -10%;

}

/* Camada de sobreposição */
.portifolio-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(104, 7, 194, 0.7);
  color: white;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.portifolio-box:hover .portifolio-layer {
  opacity: 1;
}

.portifolio-layer h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.portifolio-layer p {
  font-size: 1rem;
  margin-bottom: 15px;
  padding: 0 10px;
}

/* Estilo do link */
.portifolio-layer a {
  color: #ffffff;
  font-size: 2rem;
  transition: color 0.3s;
}

.portifolio-layer a:hover {
  color: #007bff;
}



/*Website Responsive*/

@media (max-width: 1535px) {
  header {
    padding: 15px 3%;
    transition: 0.2s;
  }
  .icons {
    padding: 0 3%;
    transition: 0.2s;
  }
  .scroll-down {
    right: 3%;
    transition: 0.2s;
  }
}
@media (max-width: 1460px) {
  section {
    padding: 0 12%;
    transition: 0.2s;
  }
}
@media (max-width: 1340px) {
  .north .image .image1 {
    width: 100%;
    height: auto;
  }
  .north-text .image {
    font-size: 75px;
    margin: 0 0 30px;
  }
  .ctaa {
    margin-top: 10px;
  }
}
@media (max-width: 1195px) {
  section {
    padding: 0 3%;
    transition: 0.2s;
  }
  .north-text {
    padding-top: 115px;
  }
  .north .image {
    text-align: center;
  }
  .north-image {
    text-align: center;
  }
  .north-image img {
    width: 560px;
    height: auto;
  }
  .north {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
  .icons {
    display: none;
  }
  .scroll-down {
    display: none;
  }
}
@media (max-width: 990px) {
  #menu-icon {
    display: block;
  }
  .navlist {
    position: absolute;
    top: 100%;
    right: 0;
    width: 250px;
    height: 35vh;
    background: #824cb4;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: all 0.55s ease;
  }
  .navlist a {
    margin-left: 0;
    display: block;
    margin: 7px 0;
  }
  .navlist.open {
    right: 0;
  }
  .north-text p {
    position: relative;
    margin-right: 300px;
  }
}
@media (max-width: 720px) {
  .north-image .image1 {
    width: 70%;
    height: 50%;
    align-items: center;
  }
  .navlist {
    display: none;
  }
}

/* Cards CSS */

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
  .card {
    margin: 0 20px;
  }
  .image-content {
    padding: 15px 0;
  }
  .card-image {
    height: 100px;
    width: 100px;
  }
  .name {
    font-size: 16px;
  }
  .description {
    font-size: 12px;
  }
  .button {
    font-size: 14px;
    padding: 6px 12px;
  }
}
